.navlink a{
  margin: 100px;
  /* color:azure; */
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 20px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  gap: 100px;
  
  
}
.navlink{
  display: flex;
  align-items: center;
  position:fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  /* border: 1px solid rgb(34, 32, 32); */
  height:100px;
}
