
h1{
  color: lemonchiffon;
  align-items: center;
  font-style:italic;
  font-size: 200px;
  
}
body{
  background-color: rgb(3, 0, 0);
  align-items: center;
  text-align:justify;
 
  margin: 0;
  padding: 0;
}

